<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "LogServerAddress" value = "127.0.0.1"></add>
    <add key = "LogServerPort" value = "3000"></add>

    <add key = "LogicServerAddress" value = "127.0.0.1"></add>
    <add key = "LogicServerPort" value = "3001"></add>
    
    <add key = "GateWayServerAddress" value = "127.0.0.1"></add>
    <add key = "GateWayServerPort" value = "3002"></add>

    <add key = "DataBaseAddress" value = "127.0.0.1"></add>
    <add key = "DataBasePort" value = "5000"></add>
    <add key = "DataBaseName" value = "super"></add>

    <add key = "WriteServerList" value = "127.0.0.1:6379"></add>
   	<add key = "ReadServerList=" value = "127.0.0.1:6379"></add>
   	<add key = "MaxWritePoolSize" value ="60"></add>
   	<add key = "MaxReadPoolSize" value ="60"></add>
   	<add key = "AutoStart" value ="true"></add> 
   	<add key = "LocalCacheTime" value="180"></add>
   	<add key = "RecordeLog" value ="false"></add>  
  </appSettings>

</configuration>